body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,95,1) 35%, rgba(0,76,255,1) 100%); 
}

.circle-container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle{
    background-color: #eee;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    height: 10vh;
    

}

.datos{
    height: 40px;
}

